APP_VERSION=0.0.1
APP_LOG_LEVEL=DEBUG
LOG_DIR=/home/etdadm/logs

# MongoDB info
MONGO_URL=mongodb://USERNAME:PASSWORD@mongo-dev-1.lts.harvard.edu:27072,mongo-dev-2.lts.harvard.edu:27072,mongo-dev-arbiter.lts.harvard.edu:27072/?replicaSet=devrs&authSource=etdadm-dev
MONGO_DBNAME=etddev
MONGO_COLLECTION=integration_test

FIRST_QUEUE_NAME=etd_submission_ready
LAST_QUEUE_NAME=etd_in_storage

#proquest sftp creds
PRIVATE_KEY_PATH=
KNOWN_HOSTS_PATH=
dropboxServer=
dropboxUser=

SLEEP_SECS=2

DRS_DROPBOX=
ALMA_ENDPOINT=
DASH_SFTP=

DASHBOARD_URL=
DASH_URL=
DIMS_URL=

MESSAGE_FILE=message.json

DASH_REST_URL=
DIMS_URL=
DASH_LOGIN_EMAIL=
DASH_LOGIN_PW=

SUBMISSION_PQ_ID=

TEST_DATA_DIRECTORY=/home/etdadm/testdata
ETD_IN_DIR=/etds/qa/etd_dash_data/in
ETD_DUPE_DIR=/etds/qa/etd_dash_data/dupe
ETD_OUT_DIR=/etds/qa/etd_dash_data/out
DIMS_ENDPOINT=

#alma sftp creds
ALMA_PRIVATE_KEY_PATH=
ALMA_KNOWN_HOSTS_PATH=
ALMA_DROPBOX_SERVER=
ALMA_DROPBOX_USER=
ALMA_SERVICE_QUEUE_NAME=etd_in_storage
ALMA_BATCH_NAME=
