APP_VERSION=0.0.1
APP_LOG_LEVEL=INFO

# MongoDB info
MONGO_URL=mongodb://USERNAME:PASSWORD@mongo-dev-1.lts.harvard.edu:27072,mongo-dev-2.lts.harvard.edu:27072,mongo-dev-arbiter.lts.harvard.edu:27072/?replicaSet=devrs&authSource=etdadm-dev
MONGO_DBNAME=etddev
MONGO_COLLECTION=integration_test

FIRST_QUEUE_NAME=etd_submission_ready
LAST_QUEUE_NAME=etd_in_storage

#proquest sftp creds
PRIVATE_KEY_PATH=
KNOWN_HOSTS_PATH=
dropboxServer=
dropboxUser=

SLEEP_SECS=2

DRS_DROPBOX=
ALMA_ENDPOINT=
DASH_SFTP=

DASHBOARD_URL=
DASH_URL=
DIMS_URL=

MESSAGE_FILE=message.json

